*{
    margin: 0px;
    padding: 0px;
}
h1{
    text-align: center;
}
body{
    background: rgb(159, 235, 244);
}

.flex-container{
    border: 1px solid rgb(140, 192, 239);
    background: rgb(140, 192, 239);
    width: 90%;
    
    
    margin: 0 auto;
    /*padding: 20px;*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-end;
    align-content: flex-start;
    
}

.card1{
    background: rgb(241, 209, 160);
    color: azure;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-align: center;
    width: 90px;
    height: 90px;
    line-height: 120px;
    border: 2px solid rgb(131, 128, 128);
    border-radius: 10px  10px 0px 0px;
    margin: 5px ;
    /*box-shadow: 5px 5px 2px  rgb(241, 209, 160);*/
    order: 1;
    flex-grow: 3;

}

.card2{
    background: rgb(241, 209, 160);
    color: azure;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-align: center;
    width: 90px;
    height: 90px;
    line-height: 120px;
    border: 2px solid rgb(131, 128, 128);
    /*border-radius: 10px  0px 50px 10px;*/
    margin: 5px ;
    /*box-shadow: 5px 5px 2px  rgb(241, 209, 160);*/
    order: 2;
    flex-grow: 1;
}

.card3{
    background: rgb(208, 181, 253);
    color: azure;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-align: center;
    width: 120px;
    height: 500px;
    line-height: 120px;
    border: 2px solid rgb(131, 128, 128);
    /*border-radius: 10px  0px 50px 10px;*/
    margin: 5px ;
    /*box-shadow: 5px 5px 2px  rgb(208, 181, 253);*/
    order: 3;
    flex-grow: 6;
}
.card4{
    background: rgb(208, 181, 253);
    color: azure;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-align: center;
    width: 120px;
    height: 500px;
    line-height: 120px;
    border: 2px solid rgb(131, 128, 128);
    /*border-radius: 10px  0px 50px 10px;*/
    margin: 5px ;
    /*box-shadow: 5px 5px 2px  rgb(208, 181, 253);*/
    order: 3;
    flex-grow: 3;
}

.card5{
    background: rgb(241, 209, 160);
    color: azure;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-align: center;
    width: 120px;
    height: 120px;
    line-height: 120px;
    border: 2px solid rgb(131, 128, 128);
    border-radius: 0px  0px 10px 10px;
    margin: 5px ;
    /*box-shadow: 5px 5px 2px  rgb(241, 209, 160);*/
    order: 3;
    flex-grow: 3;
}

.form-control-dark {
    border-color: var(--bs-gray);
  }
  .form-control-dark:focus {
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
  }
  
  .text-small {
    font-size: 85%;
  }
  
  .dropdown-toggle {
    outline: 0;
  }